*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #f2f2f2;

}
header.cabecera{
    color: #ff0000;
    font-size: 15px;
    background-color: #000;
    width: 90%;
    margin: 0 auto;
}

header.cabecera h1{
    padding: 1em 1em;

}
aside{
    background-color: #ff0000;
    display: inline-block;
    width: 20%;
    height: 500px;
    text-align: center;
    margin-left: 5%;
}

.articulo{
    color: blue;
    font-size: 22px;
    background-color: green;
}

nav.menuprincipal, footer{
    width: 90%;
    margin: 0 auto;
    background-color: #999;
    font-size: 22px;
}

section{
    height: 500px;
    width: 70%;
    margin: 0 auto;
    background-color: aqua;
    text-align: center;
    display: inline-block;
}

main{
    display: inline;
    width: 70%;
    margin: 0 auto;
    margin-left: 25%;
}
